@model WebMvc.Models.Reservation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Room.RoomName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.RoomName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.checkInDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.checkInDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.checkOutDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.checkOutDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numberOFGuests)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numberOFGuests)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
