@model IEnumerable<WebMvc.Models.Reservation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room.RoomName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.checkInDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.checkOutDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numberOFGuests)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Fname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room.RoomName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.checkInDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.checkOutDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numberOFGuests)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookingID })
        </td>
    </tr>
}

</table>
